body {
    background-color:cadetblue;
    /* height: 100vh; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    background-color: #e96c56;
    padding: 5px 20px;
    color: #e4c4ab;
    display: inline-block;
}

.addItem-label, .addItem-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: large;
}

.addItem-input{
    width: 500px;
}

.addItem-input::placeholder{
    color: #969696;
}

.addButton {
    margin: 10px;
    font-size: medium;
    padding: 5px 20px;
    background-color: #e9df56;
    border: none;
    border-radius: 10px;
}

.addButton:hover{
    background-color: #f5ee94;
}

/* ItemsList  */
.itemsContainer{
    margin-top: 30px;
    width: 50%;
    font-size: medium;
}

.items{
    border : 1px solid #000;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
}